<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoaderTraker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LoaderTraker.Properties.Settings>
            <setting name="Users" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="Address1" serializeAs="String">
                <value />
            </setting>
            <setting name="Address2" serializeAs="String">
                <value />
            </setting>
            <setting name="Products" serializeAs="String">
                <value>ALU CARTER 2% FER
ALU JANTES
MOTEUR ALU/ FONTE ALU
ALU PROFILE MELE
ALU LAMINE 1% FER ALE MELE
CUIVRE MELE
CUIVRE MILBERRY
CUIVRE ETAME
CUIVRE CHAUFFE EAU
CABLE ALU MELE 40%
FERAILLES
VF1 (DISQUES)
VF2 (FONTE)
CABLES CUIVRE PAUVRE
CABLES CUIVRE RICHE
ZINC
PLOMB
BATTERIES
METAUX FERREUX
CABLES CUIVRE MELE
LAITON MELE
CABLES Cu/Pb/Fe
INOX 18/8
MOTEURS ELECTRIQUES
ALU NEUF BLANC
ALU ALMELEC
ALU PROFILE BLANC
ALU TOURNURES
INOX F17</value>
            </setting>
            <setting name="SalesHistory" serializeAs="String">
                <value />
            </setting>
        </LoaderTraker.Properties.Settings>
    </userSettings>
</configuration>